<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>ChallengeId</th>
            <th>ChallengeName</th>
            <th>ChallengeDescription</th>
            <th>NumberOfPlayers</th>
            <th>DayTime</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (Challenge challenge in ViewBag.challenges)
            {
                <tr>
                    <td>
                        @challenge.Id
                    </td>
                    <td>
                        @challenge.ChallengeName
                    </td>
                    <td>
                        @challenge.ChallengeDescription
                    </td>
                    <td>
                        @challenge.NumberOfPlayers
                    </td>
                    <td>
                        @challenge.DayTime
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
